%h2.my-name Eumir Gaspar

.intro-blurb
  :markdown
    I am a web developer, coffee afficionado, music fan and a father.

    I started out as a front end / UI specialist but I have since expanded my skill set to include devops, back end, and even database optimization.

    I **LOVE** [Ruby](https://www.ruby-lang.org/), [HAML](http://haml.info/) and [SASS](http://sass-lang.com/)!

  = partial 'partials/social_links'
