.projects
  %h4 Sites

  %ul.sites
    %li.site
      %a{href: 'http://rubyconf.ph/2015', target: '_blank', rel: 'nofollow'} Rubyconf PH 2015
    %li.site
      %a{href: 'http://rubyconf.ph', target: '_blank', rel: 'nofollow'} Rubyconf PH 2016
    %li.site
      %a{href: 'eevee', target: '_blank'} Eevee
      %span - Unit evolution guide for the mobile game, Brave Frontier
    %li.site
      %a{href: 'vimercises', target: '_blank'} Vimercises
      %span - Some simple Vim exercises for the Vim beginner

  %h4 Tools

  %ul.tools
    %li.tool
      %a{href: 'https://github.com/aelogica/minizip/', target: '_blank', rel: 'nofollow'} Minizip
      %span - Ruby wrapper for zip/7zip
    %li.tool
      %a{href: 'covetous', target: '_blank'} Covetous
      %span - Ruby wrapper for the Diablo 3 API
    %li.tool
      %a{href: 'https://github.com/corroded/naamah', target: '_blank'} Naamah
      %span - Ruby wrapper for the Project NOAH API
