<h2 class='my-name-is'>Eumir Gaspar</h2>
<div class='intro'>
  <p>I aim to create web sites and applications that help people complete tasks faster.</p>
  
  <p>I started out as a front end / UI specialist but I have since expanded my skill set to include devops, back end, and even database optimization.</p>
  
  <p>I <strong>LOVE</strong> <a href="https://www.ruby-lang.org/">Ruby</a>, <a href="http://haml.info/">HAML</a> and <a href="http://sass-lang.com/">SASS</a>!</p>
  {% include social_links.html %}
</div>
