.projects
  %h4 Projects:

  %ul.project-list
    %li.project
      %a{href: 'http://rubyconf.ph/2015', target: '_blank'} Rubyconf PH 2015
    %li.project
      %a{href: 'http://rubyconf.ph', target: '_blank'} Rubyconf PH
    %li.project
      %a{href: 'https://github.com/aelogica/minizip/', target: '_blank'} Minizip
      %span - Ruby wrapper for zip/7zip
    %li.project
      %a{href: 'https://corroded.github.com/covetous/', target: '_blank'} Covetous
      %span - Ruby wrapper for the Diablo 3 API
    %li.project
      %a{href: 'https://github.com/corroded/naamah', target: '_blank'} Naamah
      %span - Ruby wrapper for the Project NOAH API
