.reference
  %h4 Follow me here:

  %ul.social-links
    %li.link-item
      %a{href: 'https://twitter.com/benjobatumbakal'}
        %i{class: 'fa fa-twitter'}
    %li.link-item
      %a{href: 'https://linkedin.com/benjobatumbakal'}
        %i{class: 'fa fa-twitter'}
